<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>21F18D32-1E17-4D73-833F-A209D0EFF9BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C8F8E94-529D-4286-B121-1355AB4B6A0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>22E20A97-BE52-44BD-8C20-6BD4E3347C05</key>
		<array/>
		<key>2D37C75D-9683-4D62-9810-DBEFAEFD05D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6C248ED-A653-45B9-8AE3-85D2D5266E44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3A2706AA-C75B-4C7B-9D33-B8C84D987CDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BF4FB56-A4D3-4ABB-9F8E-15536849684B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4F8CB4D9-F529-4228-AB8C-443DD78D3B24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DE9420E-269F-4218-8FDE-CCD17DF1B59C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>622FC525-E251-4CCB-A3D7-D8049B7958A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>822C0553-4795-478A-A2B4-36936B7E0ACC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6EA3F829-FD1B-4B8B-AB4F-8BBE5880346B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8B9F04B-737A-487E-AA43-FF7F2EF15825</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7BF1534D-7832-4818-9593-9AE109E5BAED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3F812FB-9B43-465C-8382-79C93FAC7F8C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>842DC44D-3B3E-4337-9816-F32F4E62C0BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EF5CD17-C17D-4BFD-BCA5-2CEEBE49BF49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>88796FF6-C01E-405B-81F4-120D7088D828</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>014D7D6A-565E-49B1-B091-A6F245718B31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>945AB21A-FD98-4EE8-8068-512E7F0113AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA44C7E2-271F-44AB-83F7-492A66E8A93A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>960DA76D-312D-4716-8613-B24DA57A541C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCA29B44-048F-4B5B-B339-05CC2492B845</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9CE6E25D-2CEB-44E7-92DE-DE891F18A9AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1629294-503C-42FC-B0C7-CFE372DF8100</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9D50C280-51EC-4A85-97BD-C7D3AA780599</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED94F5D0-6F9C-4F69-9D44-83A428384C7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B77F7C5E-C8BB-41BE-A280-FD844C3155FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EB494C9-1051-4622-9319-01BFF8EDD058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C62A1332-A90F-4D96-AACD-828239242037</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F0B5F53-CC63-4251-BAB2-9D9D9DDF844F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E4681E19-2432-41F7-B4D9-7FC9D96E5E8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCC92BCA-B693-4ACB-B240-6BCD8A7825BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8FDFC18-CA92-4645-ADA1-F7B891B953BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F78756C-1833-42FB-8D85-6B06708A0D94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FEC4002B-EAB1-4CDE-BD8D-DBD7C755FDE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B8C5CB5-F837-4E34-A740-7E4E248DD39E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>App Launcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>622FC525-E251-4CCB-A3D7-D8049B7958A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>822C0553-4795-478A-A2B4-36936B7E0ACC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/usr/local/Cellar/macvim/8.1-151/MacVim.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A1629294-503C-42FC-B0C7-CFE372DF8100</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9CE6E25D-2CEB-44E7-92DE-DE891F18A9AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5F78756C-1833-42FB-8D85-6B06708A0D94</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F8FDFC18-CA92-4645-ADA1-F7B891B953BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Shift.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9DE9420E-269F-4218-8FDE-CCD17DF1B59C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4F8CB4D9-F529-4228-AB8C-443DD78D3B24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>842DC44D-3B3E-4337-9816-F32F4E62C0BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Sketch.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5EF5CD17-C17D-4BFD-BCA5-2CEEBE49BF49</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6EA3F829-FD1B-4B8B-AB4F-8BBE5880346B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/VLC.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>D8B9F04B-737A-487E-AA43-FF7F2EF15825</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/opt/homebrew-cask/Caskroom/transmission/2.84/Transmission.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>6EB494C9-1051-4622-9319-01BFF8EDD058</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B77F7C5E-C8BB-41BE-A280-FD844C3155FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Spotify.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8B8C5CB5-F837-4E34-A740-7E4E248DD39E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FEC4002B-EAB1-4CDE-BD8D-DBD7C755FDE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>014D7D6A-565E-49B1-B091-A6F245718B31</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>88796FF6-C01E-405B-81F4-120D7088D828</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Preview.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A3F812FB-9B43-465C-8382-79C93FAC7F8C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7BF1534D-7832-4818-9593-9AE109E5BAED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/usr/local/Caskroom/sublime-text3/3103/Sublime Text.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0F0B5F53-CC63-4251-BAB2-9D9D9DDF844F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C62A1332-A90F-4D96-AACD-828239242037</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Ulysses.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>136EC0FE-A476-41C6-9C77-FD22960CD1EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>22E20A97-BE52-44BD-8C20-6BD4E3347C05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>960DA76D-312D-4716-8613-B24DA57A541C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Library/CoreServices/Finder.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>FCA29B44-048F-4B5B-B339-05CC2492B845</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Safari.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A6C248ED-A653-45B9-8AE3-85D2D5266E44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2D37C75D-9683-4D62-9810-DBEFAEFD05D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>AA44C7E2-271F-44AB-83F7-492A66E8A93A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>24</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>+</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>945AB21A-FD98-4EE8-8068-512E7F0113AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Xcode.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>ED94F5D0-6F9C-4F69-9D44-83A428384C7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9D50C280-51EC-4A85-97BD-C7D3AA780599</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Tweeten.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0BF4FB56-A4D3-4ABB-9F8E-15536849684B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>16</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Y</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3A2706AA-C75B-4C7B-9D33-B8C84D987CDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E4681E19-2432-41F7-B4D9-7FC9D96E5E8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/OmniGraffle.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BCC92BCA-B693-4ACB-B240-6BCD8A7825BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>33</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Å</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>21F18D32-1E17-4D73-833F-A209D0EFF9BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/opt/homebrew-cask/Caskroom/robomongo/0.8.5/Robomongo.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9C8F8E94-529D-4286-B121-1355AB4B6A0B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array/>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>95912CFB-3D44-4793-A6B4-A36F1FB71682</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6CBDAD8A-0AEB-47E9-B620-4A45D149350D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E76FC48D-D048-4281-9EC1-E6D5F9076B85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array/>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A8E37F48-0A53-4FF8-AA37-8B4DEC3E165D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A571FD45-D599-42A6-9A64-24C39390FE7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array/>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B885D1E5-9D6D-47B8-BCC3-29405CAD1E62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>014D7D6A-565E-49B1-B091-A6F245718B31</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>0BF4FB56-A4D3-4ABB-9F8E-15536849684B</key>
		<dict>
			<key>ypos</key>
			<real>2050</real>
		</dict>
		<key>0F0B5F53-CC63-4251-BAB2-9D9D9DDF844F</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>136EC0FE-A476-41C6-9C77-FD22960CD1EE</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>21F18D32-1E17-4D73-833F-A209D0EFF9BD</key>
		<dict>
			<key>ypos</key>
			<real>2290</real>
		</dict>
		<key>22E20A97-BE52-44BD-8C20-6BD4E3347C05</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>2D37C75D-9683-4D62-9810-DBEFAEFD05D7</key>
		<dict>
			<key>ypos</key>
			<real>1570</real>
		</dict>
		<key>3A2706AA-C75B-4C7B-9D33-B8C84D987CDE</key>
		<dict>
			<key>ypos</key>
			<real>2050</real>
		</dict>
		<key>4F8CB4D9-F529-4228-AB8C-443DD78D3B24</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>5EF5CD17-C17D-4BFD-BCA5-2CEEBE49BF49</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>5F78756C-1833-42FB-8D85-6B06708A0D94</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>622FC525-E251-4CCB-A3D7-D8049B7958A5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6CBDAD8A-0AEB-47E9-B620-4A45D149350D</key>
		<dict>
			<key>ypos</key>
			<real>2410</real>
		</dict>
		<key>6EA3F829-FD1B-4B8B-AB4F-8BBE5880346B</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6EB494C9-1051-4622-9319-01BFF8EDD058</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>7BF1534D-7832-4818-9593-9AE109E5BAED</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>822C0553-4795-478A-A2B4-36936B7E0ACC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>842DC44D-3B3E-4337-9816-F32F4E62C0BC</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>88796FF6-C01E-405B-81F4-120D7088D828</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>8B8C5CB5-F837-4E34-A740-7E4E248DD39E</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>945AB21A-FD98-4EE8-8068-512E7F0113AE</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>95912CFB-3D44-4793-A6B4-A36F1FB71682</key>
		<dict>
			<key>ypos</key>
			<real>2410</real>
		</dict>
		<key>960DA76D-312D-4716-8613-B24DA57A541C</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>9C8F8E94-529D-4286-B121-1355AB4B6A0B</key>
		<dict>
			<key>ypos</key>
			<real>2290</real>
		</dict>
		<key>9CE6E25D-2CEB-44E7-92DE-DE891F18A9AA</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9D50C280-51EC-4A85-97BD-C7D3AA780599</key>
		<dict>
			<key>ypos</key>
			<real>1930</real>
		</dict>
		<key>9DE9420E-269F-4218-8FDE-CCD17DF1B59C</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A1629294-503C-42FC-B0C7-CFE372DF8100</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A3F812FB-9B43-465C-8382-79C93FAC7F8C</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>A571FD45-D599-42A6-9A64-24C39390FE7D</key>
		<dict>
			<key>ypos</key>
			<real>2650</real>
		</dict>
		<key>A6C248ED-A653-45B9-8AE3-85D2D5266E44</key>
		<dict>
			<key>ypos</key>
			<real>1570</real>
		</dict>
		<key>A8E37F48-0A53-4FF8-AA37-8B4DEC3E165D</key>
		<dict>
			<key>ypos</key>
			<real>2530</real>
		</dict>
		<key>AA44C7E2-271F-44AB-83F7-492A66E8A93A</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>B77F7C5E-C8BB-41BE-A280-FD844C3155FE</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>B885D1E5-9D6D-47B8-BCC3-29405CAD1E62</key>
		<dict>
			<key>ypos</key>
			<real>2650</real>
		</dict>
		<key>BCC92BCA-B693-4ACB-B240-6BCD8A7825BA</key>
		<dict>
			<key>ypos</key>
			<real>2170</real>
		</dict>
		<key>C62A1332-A90F-4D96-AACD-828239242037</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>D8B9F04B-737A-487E-AA43-FF7F2EF15825</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>E4681E19-2432-41F7-B4D9-7FC9D96E5E8F</key>
		<dict>
			<key>ypos</key>
			<real>2170</real>
		</dict>
		<key>E76FC48D-D048-4281-9EC1-E6D5F9076B85</key>
		<dict>
			<key>ypos</key>
			<real>2530</real>
		</dict>
		<key>ED94F5D0-6F9C-4F69-9D44-83A428384C7D</key>
		<dict>
			<key>ypos</key>
			<real>1930</real>
		</dict>
		<key>F8FDFC18-CA92-4645-ADA1-F7B891B953BE</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FCA29B44-048F-4B5B-B339-05CC2492B845</key>
		<dict>
			<key>ypos</key>
			<real>1450</real>
		</dict>
		<key>FEC4002B-EAB1-4CDE-BD8D-DBD7C755FDE9</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
