<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danielsh.alfred.touch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1685B5A7-E470-457E-AFBC-8014E76FAF71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5118090C-D48A-4925-BA66-D887B40E5723</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open after creation.</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BBEE7B51-BDA3-4A88-8648-D7EF991580DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8AECB8E-167F-44DB-A6D5-B077259256EF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Undo: Delete files, paths, and stored files.</string>
			</dict>
		</array>
		<key>5118090C-D48A-4925-BA66-D887B40E5723</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72209F4F-5BE8-43F5-B17F-E264D9236037</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BBEE7B51-BDA3-4A88-8648-D7EF991580DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72209F4F-5BE8-43F5-B17F-E264D9236037</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E8AECB8E-167F-44DB-A6D5-B077259256EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72209F4F-5BE8-43F5-B17F-E264D9236037</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Shannon</string>
	<key>description</key>
	<string>Create a file in the Finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Create New File</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python action.py {query} open 2&gt;&amp;1 | tee open.log</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5118090C-D48A-4925-BA66-D887B40E5723</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python action.py {query} 2&gt;&amp;1 | tee action.log</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBEE7B51-BDA3-4A88-8648-D7EF991580DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>touch</string>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string>python touch.py "{query}" 2&gt;&amp;1 | tee feedback.log</string>
				<key>subtext</key>
				<string>Create a new file in the frontmost Finder window.</string>
				<key>title</key>
				<string>New File</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1685B5A7-E470-457E-AFBC-8014E76FAF71</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Create New File</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>72209F4F-5BE8-43F5-B17F-E264D9236037</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python action.py undo {query} 2&gt;&amp;1 | tee undo.log</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8AECB8E-167F-44DB-A6D5-B077259256EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type "touch" and a filename to create a file in the frontmost Finder window. Save a favorite path and type "touch filename at" to create a file in that path. Hold down Command when pressing Return to open the file after creation, or press Control-Return to delete files. To forget a stored file or path, select "Add Filename" or "Add Path," enter the filename or path, and press Control-Return.</string>
	<key>uidata</key>
	<dict>
		<key>1685B5A7-E470-457E-AFBC-8014E76FAF71</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>5118090C-D48A-4925-BA66-D887B40E5723</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>72209F4F-5BE8-43F5-B17F-E264D9236037</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>BBEE7B51-BDA3-4A88-8648-D7EF991580DD</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>E8AECB8E-167F-44DB-A6D5-B077259256EF</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://daniel.sh</string>
</dict>
</plist>
