<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>56485F25-B7F0-47A1-89B6-CA9E5A3E0D69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23F8103C-7E6D-43CB-8009-C5BAF6404D51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DE4C78B5-49A7-4DAE-A557-E093438E0581</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12CE08A4-37EC-4BA8-AE87-020DAF793039</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Network</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>enable network</string>
				<key>text</key>
				<string>Enable Network</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DE4C78B5-49A7-4DAE-A557-E093438E0581</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/dev/tools/dotfiles/osx/enable-network.scpt</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>12CE08A4-37EC-4BA8-AE87-020DAF793039</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kill network</string>
				<key>text</key>
				<string>Kill Network</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56485F25-B7F0-47A1-89B6-CA9E5A3E0D69</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/dev/tools/dotfiles/osx/kill-network.scpt</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>23F8103C-7E6D-43CB-8009-C5BAF6404D51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12CE08A4-37EC-4BA8-AE87-020DAF793039</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>23F8103C-7E6D-43CB-8009-C5BAF6404D51</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>56485F25-B7F0-47A1-89B6-CA9E5A3E0D69</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>DE4C78B5-49A7-4DAE-A557-E093438E0581</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
